.header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.header-left {
    display: flex;
    align-items: center;
}

.header-menu {
    margin-left: 40px;
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.header-menu-item {
    margin-right: 27px;
}

.header-phone {
    font-family: 'Montserrat-Regular';
    display: block;
    font-size: 17px;
}

.header-contacts {
    text-align: right;
    margin-right: 30px;
}

.header-right {
    display: flex;
}