
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.eot') format('eot'),
    url('../fonts/PlayfairDisplay-Regular.svg') format('svg'),
    url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot') format('eot'),
    url('../fonts/Montserrat-Regular.svg') format('svg'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.eot') format('eot'),
    url('../fonts/Montserrat-Medium.svg') format('svg'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  