@import "./reset";
@import "./fonts";
@import "./ui-kit";
@import "./header";
@import "./main";
@import "./footer";
@import "./promo";
@import "./plan";

* {
    box-sizing: border-box;
}

.chat-button {
    position: fixed;
    right: 20px;
    bottom: 30px;
}